.DS_Store
install_gce_virtualapp/settings/authentications
install_gce_virtualapp/settings/defaults
install_gce_virtualapp/settings/mail_authentication
install_gce_virtualapp/settings/slack_authentication
install_gce_virtualapp/tmp/authorized_keys
install_gce_virtualapp/tmp/hosts
install_gce_virtualapp/tmp/openshift.config
install_gce_virtualapp/tmp/ansible.log
install_gce_virtualapp/tmp/users.csv
install_ops/gce/defaults
install_ops/gce/authentication
install_ops/notification/mail_authentication
install_ops/notification/slack_authentication
install_ops/tmp/*
*.retry
*.backup
